**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json

# python
.venv/
__pycache__/
*.pyc

# os
.DS_Store

# build artifacts
*.zip
# local dev secrets
.env
sdclake_fe
sdclake_fe.pub
.env.aws
